

<div class="m-4">
  <input  type="text" placeholder="   Search By Name.." (focusout)="searchByName($event)"
      class="sname col-md-3 m-3"><br><br><!--[(ngModel)]="searchText"-->
  <!-- <button color="primary">Search</button> -->
</div>
<form [formGroup]="searchForm">
  <div class="row m-3">
      <div class="col-md-3"><input type="text" placeholder="Domain" formControlName="domain" class="form-control">
      </div>
      <div class="col-md-3"><input type="text" placeholder="Gender" formControlName="gender" class="form-control">
      </div>
      <div class="col-md-3"><input type="text" placeholder="Availability" formControlName="available"
              class="form-control"></div>
      <div class="col-md-3"><button color="primary" mat-raised-button
              (click)="searchData(searchForm.value,'search')">Search</button></div>
      

  </div>
</form>
<table class="table" *ngIf="cartData.length>0">
  <thead>
      <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Avatar</th>
          <th>Domain</th>
          <th>Available</th>
      </tr>
  </thead>
  <tbody *ngFor="let data of cartData">
      <tr>
          <td>{{data.id}}</td>
          <td>{{data.first_name}}</td>
          <td>{{data.last_name}}</td>
          <td>{{data.email}}</td>
          <td>{{data.gender}}</td>
          <td><img [src]="data.avatar" alt=""> </td>
          <td>{{data.domain}}</td>
          <td>{{data.available}}</td>
      </tr>
  </tbody>
</table>
<div class="table_data" id="customers">
  <table id="myTable">
      <thead>
          <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Avatar</th>
              <th>Domain</th>
              <th>Available</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of mockdatas"><!--| filter:searchText-->
              <td>{{data.id}} <button (click)="addcart(data)">Add</button></td>
              <td>{{data.first_name}}</td>
              <td>{{data.last_name}}</td>
              <td>{{data.email}}</td>
              <td>{{data.gender}}</td>
              <td><img [src]="data.avatar" alt=""> </td>
              <td>{{data.domain}}</td>
              <td>{{data.available}}</td>
          </tr>
      </tbody>
  </table>
</div>
